/kagami/data/config.json
/kagami/data/old_data.json
/kagami/discord.log
/kagami/data/data.json
/venv
/kagami/compose.yaml
/lavalink/compose.yaml
/.env
/compose.yaml
__pycache__
/.venv
/lavalink/logs/*
/kagami/cogs/database.py
/lavalink/Lavalink*.jar
/lavalink/plugins
/temp/*
/.idea/*
!/.idea/runConfigurations/*
~/.idea/KagamiPy.iml
/kagami/data/*